- var brandName = 'picture-perfect'
- var siteAddress = 'picture-perfect.ru'
- 
    var phones = {
        msc: '+7 (495) 115-38-16', // Main number
        free: '8 (800) 302-2532',
        whatsapp: '+7 (968) 603-85-98',
        spb: '+7 (812) 408-08-17',
    }
- var email = 'zakaz@picture-perfect.ru'
- var address = 'Адрес: г. Москва<br>МКАД 24 км вл. 3'
- var workSchedule = "ПН-ПТ - c 10:00 до 18:00"
- var paymentDetailsLink = '/assets/files/payment-details.pdf'
- 
    var navItems = [
        {'text': 'Калькулятор стоимости', 'link': '#sec3-calculator'}, 
        {'text': 'Наши работы', 'link': '#sec4-our_works'}, 
        {'text': 'Примеры и цены', 'link': '#sec7-examples_and_prices'}, 
        {'text': 'Отзывы', 'link': '#sec8-reviews'}
        ];

- 
    var messengers = {
        whatsapp: {
            icon: 'sprite-whatsapp',
            link: ''
        },
    }
- 
    var socials = {
        vk: {
            icon: 'sprite-vk',
            link: ''
        },
        fb: {
            icon: 'sprite-fb', 
            link: ''
        },
        ok: {
            icon: 'sprite-ok', 
            link: ''
        },
        twitter: {
            icon: 'sprite-twitter',
            link: ''
        },
        youtube: {
            icon: 'sprite-youtube', 
            link: ''
        },
        instagram: {
            icon: 'sprite-instagram', 
            link: ''
        },
    }

- 
    var payments = {
        visa: {
            icon: 'sprite-visa',
        },
        mastercard: {
            icon: 'sprite-mastercard',
        },
        mir: {
            icon: 'sprite-mir',
        },
        yoomoney: {
            icon: 'sprite-yoomoney',
        },
    }
- 
    var shipping = {
        CDEK: {
            icon: 'sprite-cdek',
        },
        EMS: {
            icon: 'sprite-ems',
        }
    }
- 
    var footerLinks = [
        {text: 'Политика конфиденциальности', link: ''},
        {text: 'Условия публичной оферты', link: ''},
        {text: 'Узнайте о скидках и акциях', link: ''},
        {text: 'Для сотрудничества', link: ''}
    ]

- 
    var ourWorks = {
        images: [
            {link: '/assets/img/sec4-work1.jpg'},
            {link: '/assets/img/sec4-work1.jpg'},
        ],
        imagesMobile: [
            {link: '/assets/img/sec4-work1-mobile.jpg'},
            {link: '/assets/img/sec4-work1-mobile.jpg'},
            {link: '/assets/img/sec4-work1-mobile.jpg'},
        ]
    }


- 
    var reviews = [
        {
            avatar: '',
            text: `Все здорово, довольна картиной на 100% и даже больше. Дизайнер Артем помог подобрать фото, посоветовал стилистику исполнения. Заказ выполнили очень быстро, всего за 2 дня. Доставили мне домой. Плюс в том, что оплачивала уже по факту доставки, то есть я ничем не рисковала. Работой ребят очень довольна, все на высшем уровне – и портрет и обслуживание. Огромное вам спасибо за такую красоту!`,
            inst: 'insta_unsta'
        },
        {
            avatar: '',
            text: `Все здорово, довольна картиной на 100% и даже больше. Дизайнер Артем помог подобрать фото, посоветовал стилистику исполнения. Заказ выполнили очень быстро, всего за 2 дня. Доставили мне домой. Плюс в том, что оплачивала уже по факту доставки, то есть я ничем не рисковала. Работой ребят очень довольна, все на высшем уровне – и портрет и обслуживание. Огромное вам спасибо за такую красоту!`,
            inst: 'insta_unsta'
        },
        {
            avatar: '',
            text: `Все здорово, довольна картиной на 100% и даже больше. Дизайнер Артем помог подобрать фото, посоветовал стилистику исполнения. Заказ выполнили очень быстро, всего за 2 дня. Доставили мне домой. Плюс в том, что оплачивала уже по факту доставки, то есть я ничем не рисковала. Работой ребят очень довольна, все на высшем уровне – и портрет и обслуживание. Огромное вам спасибо за такую красоту!`,
            inst: 'insta_unsta'
        },
        {
            avatar: '',
            text: `Все здорово, довольна картиной на 100% и даже больше. Дизайнер Артем помог подобрать фото, посоветовал стилистику исполнения. Заказ выполнили очень быстро, всего за 2 дня. Доставили мне домой. Плюс в том, что оплачивала уже по факту доставки, то есть я ничем не рисковала. Работой ребят очень довольна, все на высшем уровне – и портрет и обслуживание. Огромное вам спасибо за такую красоту!`,
            inst: 'insta_unsta'
        },
    ]

- 
    var examplesAndPrices = [
        {
            images: ['/assets/img/sec7_1.jpg'],
            size: '30 x 30',
            old_price: '1577 р',
            new_price: '980 р'
        },
        {
            images: ['/assets/img/sec7_2.jpg'],
            size: '30 x 30',
            old_price: '1577 р',
            new_price: '980 р'
        },
        {
            images: ['/assets/img/sec7_3.jpg'],
            size: '30 x 30',
            old_price: '1577 р',
            new_price: '980 р'
        },
        {
            images: ['/assets/img/sec7_3.jpg'],
            size: '30 x 30',
            old_price: '1577 р',
            new_price: '980 р'
        },
        {
            images: ['/assets/img/sec7_3.jpg'],
            size: '30 x 30',
            old_price: '1577 р',
            new_price: '980 р'
        },
    ]

-
    var faq = [
        {
            question: 'Можно ли с нами связаться?',
            answer: `<p>Вы можете позвонить нам по телефону.</p>
                <p>Для вашего удобства на нашем сайте представлены 3 телефона: <br>
                    <ul>
                        <li>Бесплатный звонок по РФ: ${wrapLink(phones.free, 'tel:')}</li>
                        <li>Телефон: ${wrapLink(phones.whatsapp, 'tel:')}</li>
                        <li>Телефон: ${wrapLink(phones.msc, 'tel:')}</li>
                    </ul>
                </p>
                <p>Вы можете написать нам в чат на сайте.</p>
                <p>Можно написать нам в WhatsApp или Viber.</p>
                <p>Написать нам на почту ${wrapLink(email, 'email:')}</p>
                <p>Написать нам в Skype Holst-na-zakaz.ru</p>`
        },
        {
            question: 'Если у меня нет цифровой фотографии?',
            answer: `<p>Если у вас фотография на бумаги и нет ее в цифровом виде, то вы можете привезти ее к нам в офис и мы ее совершенно бесплатно отсканируем.</p>
                <p>Наш курьер может приехать к вам и забрать фотографию.<br>Доставка по Москве 450 руб.</p>`
        },
        {
            question: 'Сколько времени изготовляется заказ?',
            answer: `<p>Если вам нужно просто печать на холсте без художественной обработки, то заказ изготовим в течение 1 часа + время на доставку.</p>
                <p>Заказ с художественной обработкой заминает 2-3 дня.</p>`
        },
        {
            question: 'Нужна ли предоплата?',
            answer: 'Вы оплачиваете заказ только при получении.'
        },
        {
            question: 'Доставляете ли вы в другие города?',
            answer: 'Мы работаем по всей России и ее пределах. Заказ мы отправим службой СДЭК. Стоимость доставки напрямую зависит от вашего региона и параметров заказа.'
        },
        {
            question: 'Как получить готовый заказ?',
            answer: `<p>В любое удобное для вас время готовый заказ вам доставит курьер.</p>
                <p>Доставка по Москве в пределах пешей доступности от метро бесплатно.</p>
                <p>Доставка по Москве осуществляется и в выходные дни до 22:00.</p>
                <p>Также у вас есть возможность забрать товар лично по адресу Большой Факельный переулок, 1. Как до нас добраться можно посмотреть тут.</p>`
        },
        {
            question: 'Как оплатить заказ?',
            answer: `<p>Оплатить наличными в нашем офисе в Москве по адресу Большой Факельный переулок, 1.</p>
                <p>Заплатить курьеру, который доставит ваш заказ к вам домой, на работу в офис или в любое удобное место.</p>
                <p>Провести оплату электронным способом — на карту банка или через сервис Яндекс.Касса.</p>
                <p>Возможна оплата на расчетный счет. Курьером вам доставят все закрывающие документы.</p>`
        },
        {
            question: 'Если мне не понравится макет?',
            answer: 'Если макет вам не понравился, то мы изменим его по вашим пожеланиям.'
        },
        {
            question: 'Как увидеть макет до получения?',
            answer: 'Макет после изготовление будет вам направлен для подтверждения.'
        },
    ]

- 
    var calculatorConfig = {
        base: {
            price: 1590,
            size: { width: 30,  height: 40 },
            multiplier: 1.22,
            subtract: -1
        },
        steps: [
            {
                name: 'Выберите размер',
                sizes:[
                    { width: 30,  height: 40 },
                    { width: 40,  height: 60 },
                    { width: 50,  height: 70 },
                    { width: 60,  height: 90 },
                    { width: 120, height: 80 },
                ],
                default: { width: 30,  height: 40 }
            },
            {
                name: 'Дизайн-обработка',
                processings: [
                    {
                        name: 'Без обработки',
                        price: 0
                    },
                    {
                        name: 'Живопись',
                        price: 1500
                    },
                    {
                        name: 'Портрет в образе',
                        price: 1500
                    },
                    {
                        name: 'Фотоколлаж',
                        price: 1000
                    },
                    {
                        name: 'Love is',
                        price: 1000
                    },
                    {
                        name: 'Фотомазайка',
                        price: 1000
                    },
                    {
                        name: 'Дрим арт',
                        price: 1500
                    },
                    {
                        name: 'Портрет маслом',
                        price: 2500
                    },
                ],
                default: {
                    name: 'Без обработки',
                    price: 0
                },
            },
            {
                name: 'Покрытие холста',
                multiplier: 2,
                covers: [
                    { 
                        name: 'Без покрытия',
                        price: 0
                    },
                    { 
                        name: 'Покрытие лаком',
                        price: 120
                    },
                    { 
                        name: 'Покрытие 3D гелем',
                        price: 500
                    },
                ],
                default: {
                        name: 'Без покрытия',
                        price: 0
                }
            },
            {
                name: 'Багетные рамки',
                multiplier: 1.3,
                frames: [
                    { 
                        id: 0,
                        name: 'Коричневый пластик',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Пластик',
                        width: 5.7,
                        color: { name: 'Коричневый', hex: '#964B00'},
                        price: 1500,
                    },
                    { 
                        id: 1,
                        name: 'Зеленый металл',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Металл',
                        width: 12,
                        color: { name: 'Зеленый', hex: '#00ff00'},
                        price: 1500,
                    },
                    { 
                        id: 2,
                        name: 'Красное дерево',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Дерево',
                        width: 20,
                        color: { name: 'Красный', hex: '#ff0000'},
                        price: 1500,
                    },
                    { 
                        id: 3,
                        name: 'Синее папье маше',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Папье маше',
                        width: 3,
                        color: { name: 'Синий', hex: '#0000ff'},
                        price: 1500,
                    },
                    { 
                        id: 4,
                        name: 'Коричневый пластик',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Пластик',
                        width: 5.7,
                        color: { name: 'Коричневый', hex: '#964B00'},
                        price: 1500,
                    },
                    { 
                        id: 5,
                        name: 'Зеленый металл',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Металл',
                        width: 12,
                        color: { name: 'Зеленый', hex: '#00ff00'},
                        price: 1500,
                    },
                    { 
                        id: 6,
                        name: 'Красное дерево',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Дерево',
                        width: 20,
                        color: { name: 'Красный', hex: '#ff0000'},
                        price: 1500,
                    },
                    { 
                        id: 7,
                        name: 'Синее папье маше',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Папье маше',
                        width: 3,
                        color: { name: 'Синий', hex: '#0000ff'},
                        price: 1500,
                    },
                    { 
                        id: 8,
                        name: 'Коричневый пластик',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Пластик',
                        width: 5.7,
                        color: { name: 'Коричневый', hex: '#964B00'},
                        price: 1500,
                    },
                    { 
                        id: 9,
                        name: 'Зеленый металл',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Металл',
                        width: 12,
                        color: { name: 'Зеленый', hex: '#00ff00'},
                        price: 1500,
                    },
                    { 
                        id: 10,
                        name: 'Красное дерево',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Дерево',
                        width: 20,
                        color: { name: 'Красный', hex: '#ff0000'},
                        price: 1500,
                    },
                    { 
                        id: 11,
                        name: 'Синее папье маше',
                        image: '/assets/img/calculator/frames/frame1.png',
                        material: 'Папье маше',
                        width: 3,
                        color: { name: 'Синий', hex: '#0000ff'},
                        price: 1500,
                    },
                ],
                default: {
                        id: -1,
                        name: 'Без рамки',
                        price: 0
                }
            }
        ]
    }

- function wrapLink(link, prefix, text) { return `<a href="${prefix + link}">${text ?? link}</a>`}
