footer.gradient-1
    .max-w-full.w-max.m-auto
        .row.mb-8.text-center.md_text-left
            a.logo.uppercase(href='/')= brandName
        .row.mb-8.flex.flex-wrap.xl_gap-40.gap-12
            div
                .address.mb-8
                    span Бесплатный звонок по РФ:#[br]
                    a.font-bold.phone(href=`tel:${freePhoneNumber}`)!= freePhoneNumber + '<br>'
                    span!= address
                .contacts
                    ul 
                        li
                            a.phone(href=`tel:${phoneNumber}`)
                                +svgUse('whatsapp')
                                b= phoneNumber
                        li
                            a.phone(href=`tel:${phoneNumberMsc}`) 
                                +svgUse('phone')
                                b= phoneNumberMsc + ' (Москва)'
                        li
                            a.phone(href=`tel:${phoneNumberSpb}`) 
                                +svgUse('phone')
                                b= phoneNumberSpb + ' (Санкт-Петербург)'
                        li
                            a.email(href=`mailto:${email}`)
                                +svgUse('mail')
                                span= email
                div.workSchedule.flex.flex-col
                    span.title График работы
                    span= workSchedule
            div
                .socials
                    .title Наши соц сети
                    .btns
                        each value in socials
                            a(href=value.link)
                                + svgUse(value.icon, 'border border-white rounded-full')
                .links.gap-2
                    each item in footerLinks
                        a(href=item.link)= item.text
            div
                .cards 
                    .title Принимаем к оплате
                    .items
                        each item in payments
                            + svgUse(item.icon)
                .shipping 
                    .title Доставляем по РФ
                    .items
                        each item in shipping
                            + svgUse(item.icon)
                .payment-details
                    .title Реквизиты
                    .links
                        a(href=paymentDetailsLink) Скачать реквизиты


        .site-info.row.flex.flex-wrap.gap-3
            span © Picture-Perfect, 2021-2021 
            span |
            a(href="/")=siteAddress
            span |
            a(href=`mailto:${email}`)= email