footer
    .wrapper
        .row-1
            a.logo.uppercase(href='/')= brandName
        .row-2
            div
                .address
                    span Бесплатный звонок по РФ:#[br]
                    a.font-bold(href=`tel:${freePhoneNumber}`)!= freePhoneNumber + '<br>'
                    span!= address
                .contacts
                    ul 
                        li
                            a.font-bold(href=`tel:${phoneNumber}`)
                                +svgUse('whatsapp')
                                b= phoneNumber
                        li
                            a.font-bold(href=`tel:${phoneNumberMsc}`) 
                                +svgUse('phone')
                                b= phoneNumberMsc + ' (Москва)'
                        li
                            a.font-bold(href=`tel:${phoneNumberSpb}`) 
                                +svgUse('phone')
                                b= phoneNumberSpb + ' (Санкт-Петербург)'
                        li
                            a.email(href=`mailto:${email}`)
                                +svgUse('mail')
                                span= email
                div.workSchedule
                    span.title График работы
                    span= workSchedule
            div
                .socials
                    .title Наши соц сети
                    .btns
                        each value in socials
                            a(href=value.link)
                                +svgUse(value.icon)(class='border border-white rounded-full')
                .links.gap-2
                    each item in footerLinks
                        a(href=item.link)= item.text
            div
                .cards 
                    .title Принимаем к оплате
                    .items
                        each item in payments
                            +svgUse(item.icon)
                .shipping 
                    .title Доставляем по РФ
                    .items
                        each item in shipping
                            +svgUse(item.icon)
                .payment-details
                    .title Реквизиты
                    .links
                        a(href=paymentDetailsLink download) Скачать реквизиты


        .row-3
            .site-info
                span © Picture-Perfect, 2021-2021 
                span |
                a(href="/")=siteAddress
                span |
                a(href=`mailto:${email}`)= email