footer
    .wrapper
        .row-1
            a.logo.uppercase(href='/')= brandName
        .row-2
            div
                .address
                    span Бесплатный звонок по РФ:#[br]
                    +wrapLink(phones.free, 'tel:').font-bold
                    br
                    span!= address
                .contacts
                    ul 
                        li
                            +icon('sprite-whatsapp')
                            +wrapLink(phones.whatsapp, 'tel:').font-bold
                        li
                            +icon('sprite-phone')
                            +wrapLink(phones.msc, 'tel:').font-bold
                        li
                            +icon('sprite-phone')
                            +wrapLink(phones.spb, 'tel:').font-bold
                        li
                            +icon('sprite-mail')
                            +wrapLink(email, 'mailto:').font-bold
                div.workSchedule
                    span.title График работы
                    span= workSchedule
            div
                .socials
                    .title Наши соц сети
                    .btns
                        each value in socials
                            a(href=value.link)
                                +icon(value.icon)(class='border border-white rounded-full')
                .links.gap-2
                    each item in footerLinks
                        a(href=item.link)= item.text
            div
                .cards 
                    .title Принимаем к оплате
                    .items
                        each item in payments
                            +icon(item.icon)
                .shipping 
                    .title Доставляем по РФ
                    .items
                        each item in shipping
                            +icon(item.icon)
                .payment-details
                    .title Реквизиты
                    .links
                        a(href=paymentDetailsLink download) Скачать реквизиты


        .row-3
            .site-info
                span © Picture-Perfect, 2021-2021 
                span |
                a(href="/")=siteAddress
                span |
                a(href=`mailto:${email}`)= email