header
    a.logo(href='/')= brandName
    .wrapper
        nav
            ul
                each item in navItems
                    li
                        a(href=item.link)= item.text
        .contacts
            a.phone(href=`tel:${phoneNumberMsc}`)= phoneNumberMsc
            .btns
                a(href=messengers.whatsapp.link title='WhatsApp') 
                    + svgUse('whatsapp')
                a(href=`mailto:${email}` title='Email') 
                    + svgUse('mail')
    //- empty blocks for make navs and contacts block in center
    .empty.hidden.xl_block  
    .empty.hidden.2xl_block
header.mobile
    button.menu
        + svgUse('menu')
    a.logo(href='/')= brandName
    .nav-wrapper.hidden
        .close-wrapper
            button.close
                + svgUse('cross')
        nav
            ul
                each item in navItems
                    li
                        a(href=item.link)= item.text
        .contacts
            a(href=messengers.whatsapp.link title='WhatsApp')
                + svgUse('whatsapp')
            a(href=`mailto:${email}` title='Email')
                + svgUse('mail')
            a(href=`tel:${phoneNumberMsc}`)
                + svgUse('phone')