header
    a.logo(href='/')= brandName
    .wrapper
        nav
            ul
                each item in navItems
                    li
                        a(href=item.link)= item.text
        .contacts
            +wrapLink(phones.msc, 'tel:')
            .btns
                a(href=messengers.whatsapp.link title='WhatsApp') 
                    +icon('sprite-whatsapp')
                a(href=`mailto:${email}` title='Email') 
                    +icon('sprite-mail')
    //- empty blocks for make navs and contacts block in center
    .empty.hidden.xl_block  
    .empty.hidden.2xl_block
header.mobile
    button.menu
        +icon('sprite-menu')
    a.logo(href='/')= brandName
    .nav-wrapper.hidden
        .close-wrapper
            button.close
                +icon('sprite-cross')
        nav
            ul
                each item in navItems
                    li
                        a(href=item.link)= item.text
        .contacts
            a(href=messengers.whatsapp.link title='WhatsApp')
                +icon('sprite-whatsapp')
            a(href=`mailto:${email}` title='Email')
                +icon('sprite-mail')
            +wrapLink(phones.msc, 'tel:', true)
                +icon('sprite-phone')