mixin svgUse( name )
    svg( class='fill-current' class!=attributes.class )
        use(xlink:href=`/assets/icons.svg#${name}`)

mixin textBtn()
    button.text-button(class!=attributes.class, disabled!=attributes.disabled)
        block

mixin section(id, number, h2)
    section(id=id)
        .wrapper
            .title
                h2= h2
                .section_number=number
            block

mixin angle_arrow(size='30px', angle='45deg', thickness)
    - 
        var borders = {
            t: thickness ? `border-t-${thickness}` : 'border-t',
            r: thickness ? `border-r-${thickness}` : 'border-r',
        }
    div.angle_arrow(class=`${borders.t} ${borders.r}` style={height: size, width: size, transform: `rotate(${angle})`})